@import url(/assets/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf);


body{
    margin:0px;
    padding:0px;
    background-image: url("../images/redLogo.jpg");
    font-family: "Super Smash 4.1";
}
#container{
    max-width:960px;
    margin: 0px auto;
}

#title{
    text-align: center;
    position: relative;

    
    
}
.title1{
    height:300px;
}
#hangman{
    font-size: 50px;
    position: absolute;
    bottom:-34px;
    right:349px;
    
    color:lightgoldenrodyellow;
    text-shadow: 2px 2px red;
}

#gameWindow{
    width:500px;
    text-align: center;
    border: 5px solid orangered;
    background-color: rgb(91, 183, 214);
}
#wins,#currentWord,#guessesRemaining,#guessedLetters{
    font-size: 30px;
}